<div *ngFor="let group of data" class="card-group mat-typography">
  <h2>{{group[0].date}}</h2>
  <mat-card *ngFor="let item of group" class="mat-card">
    <div class="subject">
      <img src={{item.subjectPhotoUrl}} alt="Course Subject Photo">
    </div>
    <div class="title">
      <strong>{{item.title}}</strong>
      <p>{{item.description}}</p>
    </div>
    <div class="instructor">
      <img src={{item.instructorPhotoUrl}} alt="Course Instructor Photo">
    </div>
    <div class="instructorName">
      {{item.instructorName}}
    </div>
    <div class="time">
      <strong>{{item.time}}</strong>
    </div>
  </mat-card>
</div>